<div class="panel-group" id="ratingsAccordion">

	{% for score in ratingScores %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#ratingsAccordion" href="#{{ score.id }}">
	          {{ score.rating }}
                    </a>
                </h4>
            </div>
            <div id="{{ score.id }}" class="panel-collapse collapse {% if loop.index == 1 %}in{% endif %}">
                <div class="panel-body">
                    
                    <div class="row">
                        
                        {% for movie in score.movies %}
                            <div class="col-xs-6 col-md-3">
                                <a href="#" class="thumbnail">
                                    {% set poster_size = movie.poster|length %}
                                    <img src="load/poster/{{ movie.id }}" id="poster-{{movie.id}}" style="height: 180px; width: 90%; display: block;">
                                </a>
                            </div>
                        {% endfor %}
                        
                    </div>

                </div>
            </div>
        </div>
	{% endfor %}

    </div>