{% extends 'layout.html.twig' %}

{% block body %}

<div class="container pt">
    <div class="row mt">
        <div class="col-lg-6 col-lg-offset-3 centered">
            <h3>Projects</h3>
            <hr>
            <p>I've work so far in some projects, but these are the most significant. <br/> As you can see all of them are web.</p>
        </div>
    </div>
        
    {% set effect = 'wobble-vertical' %}
        
    <div class="row mt centered">	
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" href="//oppten.com/equipo" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/oppten.png" alt="" style="display: inline-block; height: 270px; margin-left: 0px; margin-top: 0px;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>OPPTEN</h4>
            <p>A powerful robot capable of getting public bids using web scraping, matching them with each registered company profile.</p>
            <p>
                <span class="label label-warning">Django</span>
                <span class="label label-primary">Elastic Search</span>
                <span class="label label-default">Grails</span>
                <span class="label label-danger">Selenium</span>
                <span class="label label-success" style="background-color: #746BDB">Bootstrap</span>
            </p>
        </div>
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/proevend.png" alt="" style="display: inline-block; height: 270px; margin-left: 0px; margin-top: 0px;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>PROEVEND</h4>
            <p>Academic events software used to automatize assistant control and certification. Also provides in time statictics</p>
            <p>
                <span class="label label-success">Symfony</span>
                <span class="label label-info">MySQL</span>
                <span class="label label-warning" style="background-color: #E08DE0">JQuery</span>
            </p>
        </div>
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" href="work01.html" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/wizard.png" alt="" style="display: inline;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>WIZARD TPQL</h4>
            <p>Web application that handles the register proccess, account refill and account upgrading using the A2Billing System.</p>
            <p>
                <span class="label label-success">Symfony</span>
                <span class="label label-info">MySQL</span>
                <span class="label label-warning" style="background-color: #E21F1F">First Data API</span>
                <span class="label label-success" style="background-color: #746BDB">Bootstrap</span>
            </p>
        </div>
    </div><!-- /row -->
    <div class="row mt centered">	
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/vision.png" alt="" style="display: inline;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>PROMARKED VISION</h4>
            <p>Simplified version of a gallery with backend administration. It uses simple conventions for building nice websites galleries.</p>
            <p>
                <span class="label label-danger">Silex</span>
                <span class="label label-info">MySQL</span>
            </p>
        </div>
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" href="work01.html" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/semantizando.png" alt="" style="display: inline;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>SEMANTIZANDO LA WEB</h4>
            <p>Weblog about topics related to the semantic web. Currently I'm translating an RDF tutorial to Spanish Language.</p>
            <p>
                <span class="label label-warning" style="background-color: #EC3763">SemWeb</span>
                <span class="label label-warning" style="background-color: #DBDB43">Wordpress</span>
            </p>
        </div>
        <div class="col-lg-4">
            <a class="{{effect}}" target="_blank" href="work01.html" style="background-image: none;"><img class="img-responsive" src="{{assets}}/img/portfolio/sincelejo.png" alt="" style="display: inline;"><div class="zoomOverlay" style="opacity: 0; display: block; background-color: rgb(26, 188, 156);"></div></a>
            <h4>SINCELEJO VIVE DIGITAL</h4>
            <p>Web application that provides a cloud based repository for academic resources made by schools in the city of Sincelejo.</p>
            <p>
                <span class="label label-success">Symfony</span>
                <span class="label label-primary">HTML5</span>
                <span class="label label-info">MySQL</span>
                <span class="label label-success" style="background-color: #746BDB">Bootstrap</span>
            </p>
        </div>
    </div><!-- /row -->
</div>

{% endblock %}
